@model TrabajoFinalActualizado.Models.TbPelicula
@using System
@{
    ViewData["Title"] = "Detalle Admin ";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/formstyle.css" />
        <script src="https://kit.fontawesome.com/61ab311a79.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="card mb-12">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white bg-info">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @Model.Titulo
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="@Model.ImagenUrl" width="100%" alt="@Model.Titulo">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text">@Model.Sinopsis</p>
                                <p class="card-text"><b>ID Película: </b>@Model.IdPelicula</p>
                                <p class="card-text"><b>Género: </b>@Model.Genero.NombreGenero</p>
                                <p class="card-text"><b>ID Género: </b>@Model.Genero.IdGenero</p>
                                <p class="card-text"><b>Duración: </b>@Model.Duracion mins</p>
                                <p class="card-text"><b>Fecha de Lanzamiento: </b>@Model.FechaLanzamiento?.ToShortDateString()</p>
                                <p class="card-text"><b>Precio: </b> s/.@Model.Precio</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card-footer">
                                <p class="card-text">
                                    <a class="btn btn-outline-primary float-right" asp-action="Index">
                                        Regresar
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>